* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

#home, #about, #register, #track, #contact {
  width: 100vw;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

  header {
    display: flex;
    background-color: #000;
    position: fixed;
    width: 100vw;
    opacity: 90%;
  }
  
  nav {
    display: flex;
    padding: 5px;
    width: 100vw;
    justify-content: space-around;
  }
  
  nav a {
    width: 100vw;
    margin: 5px;
    padding: 2px;
    transition: 0.8s;
    text-align: center;
    border-radius: 10px;
  }
  
  nav a:hover {
    width: 110vw;
    background-image: linear-gradient( to bottom, #143156, #38963a,#ef8120 );
    transition: 0.8s;
    cursor: pointer;
  } 
  
  nav a{
    font-family: 'Rubik Moonrocks', sans-serif;
    text-decoration: none;
    text-shadow: 0 0 5px #ef8120;
    color: #fff;
  }

section#home {
  display: block;
  width: 100vw;
  height: 100vh;
}

section img#img-home {
  width: 100%;
  height: 100%;
  border: thin solid;
}

div#paragraphs {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  background-image: linear-gradient(80deg, #ef8120, #38963a, #143156);
  font-family: sans-serif;
  text-size-adjust: calc(10);
  text-shadow: 0 0 5px #512a09;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

footer {
  background-color: #38963a;
  border-top: 2px solid black;
}

#contact {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  justify-content: space-evenly;
}

.logo {
  width: 40px;
}

.email {
  font-size: large;
}
