* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  /* adicionar */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

header {
  display: flex;
  background-color: #000;
  position: fixed;
  width: 100vw;
  opacity: 90%;
  z-index: 999;
}
  
nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  justify-content: space-around;
}
  
  nav a {
    width: 100vw;
    margin: 5px;
    padding: 2px;
    transition: 0.8s;
    text-align: center;
    border-radius: 10px;
  }
  
  nav a:hover {
    width: 110vw;
    background-image: linear-gradient( to bottom, #143156, #38963a,#ef8120 );
    transition: 0.8s;
    cursor: pointer;
  } 
  
  nav a{
    font-family: 'Rubik Moonrocks', sans-serif;
    text-decoration: none;
    text-shadow: 0 0 5px #ef8120;
    color: #fff;
  }

#home, #about, #register, #tracks, #contact {
  width: 100vw;
  /* com isso vc fala que a largura é 100vw(considrando tota a tela)*/
  max-width: 100%;
  /* com isso você fala que se tiver barra de scroll vertical a largura é 100% */
  display: block;
  overflow: hidden;
  /* com isso qualquer coisa que estiver dentro destes ids e forem maiores que ele nao estouram o conteiner */
}

#home {
  /* display: block;
  width: 100vw; */
  height: 100vh;
  position: relative;
}

#home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(80deg, #ef8120, #38963a, #143156);
  z-index: 1;
  position: absolute;
  mix-blend-mode: color;
  opacity: 0.3;
}

/* section img */
#img-home {
  /* width: 100vw;
  height: 100vh; */
  /* filter: grayscale(1); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: thin solid;
  position: absolute;
  left: 0;
  top: 0;
}

.conteiner_titulo {
  position: absolute;
  z-index: 2;
  width: 50vw;
  height: 50vh;
  border: dashed 1px rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

div#paragraphs {
  padding-top: 50px;
  padding-left: 10px;
  background-image: linear-gradient(80deg, #ef8120, #38963a, #143156);
  font-family: sans-serif;
  text-size-adjust: calc(10);
  text-shadow: 0 0 5px #512a09;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

section#register {
  height: 100vh;
  width: 100vw;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
}

div#nav-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

label.label-bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: .4s;
}

label.label-bar:hover {
  background-color: #ef8120;
}

input.radios {
  display: none;
}

div.slides {
  margin: 10px 10px;
  display: flex;
  width: 700%;
  height: 100%;
}

div.slide {
  padding: 10px 3px;
  width: 15%;
  transition: .4s;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#slide1:checked ~ .picture1 {
  margin-left: 0;
}

#slide2:checked ~ .picture1 {
  margin-left: -15%;
}

#slide3:checked ~ .picture1 {
  margin-left: -30%;
}

#slide4:checked ~ .picture1 {
  margin-left: -45%;
}

#slide5:checked ~ .picture1 {
  margin-left: -60%;
}

#slide6:checked ~ .picture1 {
  margin-left: -75%;
}

#slide7:checked ~ .picture1 {
  margin-left: -90%;
}